* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(65, 83, 107);
    height: 100%;
}

.watermark {
    display: none;
    position: fixed;
}

header {
    padding: 50px 0;
}

.header {
    background-color: rgb(25, 43, 67);
    position: fixed;
    width: 100%;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 100px;
}

.logo {
    color: white;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;
    text-indent: 5px;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    max-width: 250px;
}

.nav__item {

}

.nav__link {
    color: rgb(255,255,255,1);
    font-size: 23px;
    transition: all 0.4s;
}

.nav__link i {
    font-size: 30px;
    color: white;
}

.nav__link:hover,
.nav__link:focus {
    color: rgb(255,255,255,1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: white;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3ms ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

main {
    flex: 1;
}
.main {
    height: auto;
    min-height: 100vh;
}

.main__content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 30px;
    text-align: center;
}

.main__flex {
    flex: 1;
    min-width: 200px;
    padding: 10px; 
    margin: 10px;
    background-color: rgba(51, 51, 51, 0);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.main__flex--bar {
    flex-basis: 100%;
}

.main__flex--bar--top {
    flex-basis: 100%;
}

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(25, 43, 67);
        width: 25vw;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1000;
    }
    .nav:nth-of-type(2) {
        top: 160px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }
    .watermark {
        opacity: 0.4;
        color: BLACK;
        position: fixed;
        top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main__content {
        flex: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main__flex {
        background-color: rgba(51, 51, 51, 0.233);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .main__flex__content {
        z-index: 1;
        color: white;
    }
    .main__flex--bar {
        order: 2;
        width: 100%;
    }
    .footer {
        order: 3;
        bottom: 0;
    }
}

footer {
    background-color: rgb(25, 43, 67);
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    min-height: 100px;
}
@media (max-width: 768px) {
    .footer__content {
        font-size: 10px;
    }
}
