* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 24px;
    padding-bottom: 20px;
}

h2 {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(25, 43, 67);
    height: 100%;
}

header {
    padding: 50px 0;
}

button {
   background-color: rgb(83, 109, 143); 
   border-radius: 5px;
   border: #ddd;
   height: 10%;
}

.header {
    background-color: rgb(25, 43, 67);
    position: fixed;
    width: 100%;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0 30px;
    min-height: 100px;
    gap: 30%;
}

.logo {
    color: white;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;
    text-indent: 5px;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    max-width: 250px;
}

.nav__item {

}

.nav__link {
    color: rgb(255,255,255,1);
    font-size: 23px;
    transition: all 0.4s;
}

.nav__link i {
    font-size: 30px;
    color: white;
    transition: color 0.3s ease;
}


.nav__link:hover,
.nav__link:focus {
    color: rgb(255,255,255,1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: white;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3ms ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

main {
    flex: 1;
    z-index: 2;
    position: relative;
    height: auto;
    min-height: auto;
}

.top__content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 10px;
    padding: 0 30px;
    text-align: center;
    height: 50%;
}

.top__flex {
    height: 200px;
    width: 40%;
}


.top h1 {
    padding-bottom: 10px
}

iframe {
    width: 100%;
}
.main {
    padding-bottom: 10px;
}
.main__content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0 30px;
    text-align: center;
    padding-bottom: 10px;
}

.main__flex {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    margin: 10px;
    background: -webkit-linear-gradient(left top, hsla(348, 83%, 47%, 0.100) , rgba(0, 0, 255, 0.100), rgba(0, 128, 0, 0.100));
    box-shadow: 0 4px 10px rgba(242, 241, 244, 0.129);
    border-radius: 10px;
}

.main__flex:hover {
    background: -webkit-linear-gradient(left top, hsla(348, 83%, 47%, 0.448) , rgba(0, 0, 255, 0.574), rgba(0, 128, 0, 0.541));
}

.main--bar {
    flex-basis: 100%;
}
#career {
    width: 60%;
    padding: 10px;
}

#popupTrigger {
    cursor: pointer;
    transition: background-color 0.3s;
}
#popuphover:hover {
    background: -webkit-linear-gradient(left top, hsla(348, 83%, 47%, 0.448) , rgba(0, 0, 255, 0.574), rgba(0, 128, 0, 0.541));
}
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    height: 60%;
    padding: 20px;
    background-color: rgb(25, 43, 67);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#jokePopup {
    height: auto;
    padding: 30px;
}

footer {
    background-color: rgb(25, 43, 67);
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0 30px;
    min-height: 100px;
    font-size: 18px;
}

.footer__flex {
    width: 40%;
}

.footer--open {
    transform: translate(0) !important;
}

@media (max-width: 1024px) {
    .top h2 {
        font-size: 90%;
    }
    .header {
        z-index: 10;
    }
    .header__content {
        gap: 50%;
    }
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(25, 43, 67);
        width: 25vw;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1000;
    }
    .nav:nth-of-type(2) {
        top: 160px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }
    .watermark {
        opacity: 0.4;
        color: BLACK;
        position: fixed;
        top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .top__content {
        gap:5px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
    .top__flex {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    main {
        flex: 1;
        z-index: 2;
        position: relative;
        height: auto;
        min-height: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main__content {
        flex-grow: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
        height: auto;
    }

    .main__flex {
        background-color: rgba(51, 51, 51, 0.233);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .main__flex__content {
        z-index: 2;
        color: white;
    }
    .main__flex--bar {
        order: 2;
        width: 100%;
    }
}

@media (max-width: 768px) {

    .top h2 {
        font-size: 70%;
    }
    h2 {
        font-size: 14px;
    }
    .header {
        z-index: 10;
    }
    .header__content {
        gap: 50%;
    }
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(25, 43, 67);
        width: 25vw;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1000;
    }
    .nav:nth-of-type(2) {
        top: 160px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .top__content {
        gap:5px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
    .top__flex {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    main {
        flex: 1;
        z-index: 2;
        position: relative;
        height: auto;
        min-height: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main__content {
        flex-grow: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
    }

    .main__flex {
        background-color: rgba(51, 51, 51, 0.233);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .main__flex__content {
        z-index: 2;
        color: white;
    }
    .main__flex--bar {
        order: 2;
        width: 100%;
    }
    .footer{
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .top h2 {
        font-size: 90%;
    }
    .header {
        z-index: 10;
    }
    .header__content {
        gap: 50%;
    }
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(25, 43, 67);
        width: 25vw;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1000;
    }
    .nav:nth-of-type(2) {
        top: 160px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .top__content {
        gap:5px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
    .top__flex {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    main {
        flex: 1;
        z-index: 2;
        position: relative;
        height: auto;
        min-height: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main__content {
        flex-grow: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
    }

    .main__flex {
        background-color: rgba(51, 51, 51, 0.233);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .main__flex__content {
        z-index: 2;
        color: white;
    }
    .main__flex--bar {
        order: 2;
        width: 100%;
    }
    .footer{
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 14px;
    }
    .top h2 {
        font-size: 51%;
    }
    h2 {
        font-size: 51%;
    }
    .header {
        z-index: 10;
    }
    .header__content {
        gap: 50%;
    }
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(25, 43, 67);
        width: 25vw;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1000;
    }
    .nav:nth-of-type(2) {
        top: 160px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .top__content {
        gap:5px;
        padding-bottom: 10px;
        overflow-y: auto;
        padding-bottom: 0;
    }
    .top__flex {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    main {
        flex: 1;
        z-index: 2;
        position: relative;
        height: auto;
        min-height: auto;
    }

    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main__content {
        flex-grow: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
        gap: 0px;
    }

    .main__flex {
        background-color: rgba(51, 51, 51, 0.233);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .main__flex__content {
        z-index: 2;
        color: white;
    }
    .main__flex--bar {
        order: 2;
        width: 100%;
    }
    footer {
        margin-top: 100px;
    }
}


@media (max-width: 768px) {
    .footer{
        margin-top: 50px;
    }
    .footer__content {
        font-size: 10px;
    }
}


